# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/res/test/
/pnk2u.github.io.iml
/res/img/pres/*
!/res/img/pres/pres_1_634_comp.png
