            #header {
            }
            body {
                background-color: #f06;
                font-family: Rubik, Cabin, Ubuntu, sans-serif;
            }
            h1 {
                color: white;
            }
            p {
                color: white;
            }
            a {
                color: #fff;
                text-shadow: 0 0 1px #0f99;
                text-decoration-color: #fdea;
            }
            a:visited {
                color: #fff7fb;
            }
            a:hover {
                color: #0f9;
            }
            #footer {
                position: relative;
                bottom: 1vw;
                right: 0.75vw;
            }
            .mod-info-table {
                margin-left: auto;
                margin-right: auto;
                padding: 1px;
                border: 1px solid #ffffff;
                border-spacing: 0;
                transform: scale(1.5);
                margin-top: 496px;
                color: #fff;
                position: relative;
                top: 2.5rem;
            }
            table.mod-info-table th,
            .th, .th-small {
                background-color: white;
                color: #ff0066;
                -webkit-text-stroke-width: 0.005vw;
            }
            .th {
                padding: 0 0;
                margin: 0 0;
                border: 0;
            }
            .th:hover, .th-small:hover {
                background-color: #fde !important;
            }
            .th-small, .th-small-discon {
                padding: 0;
                margin: 0;
                border-top: 0 !important;
                border-left: 0 !important;
                border-right: 0 !important;
                border-bottom: 1px #fdea !important;
                font-family: monospace;
                font-size: 10px;
                -webkit-text-stroke-width: 0.034vw;
                -webkit-text-stroke-color: #0f94;
            }
            .th-small-discon {
                color: #effa;
            }
            table.mod-info-table td,
            table.mod-info-table th {
                border: 1px solid rgba(255, 255, 255, 0.625);
                padding: 5px 10px;
            }
            table.mod-info-table td:nth-child(1) {
                border: 1.25px solid #ff83c1ff;
                padding: 0;
            }
            table.mod-info-table td:hover {
                background-color: #f37;
            }
            table.mod-info-table thead {
                font-size: larger;
            }
            table.mod-info-table tbody {
                text-align: center;
            }
            .empty_cell,
            .empty_cell:hover {
                padding: 0 0 !important;
                margin: 0 0 !important;
                background-color: #f06 !important;
                color: white;
            }
            .th-small,
            .th-small:hover {
                padding: 0 0 !important;
                margin: 0 0 !important;
                background-color: #f06 !important;
                color: white;
            }
            .mod-icon {
                width: 44px;
                height: auto;
                margin: 0.175vw 0.175vw 0.075vw;
                filter: contrast(107.5%) brightness(107.5%)
            }
            .author-icon {
                width: 16px;
                height: auto;
                display: inline-block;
                margin-bottom: -50%;
                background-color: #fff;
                object-fit: cover;
                border-radius: 50%;
                padding: 2px;
                position: relative;
                top: 4px;
                left: -4px;
                filter: opacity(85%);
            }
            .author-icon_o {
                width: 18px;
                height: 18px;
                display: inline-grid;
                border-radius: 50%;
                margin-bottom: 1%;
                padding: 1px;
                position: relative;
                top: 0;
                left: 0;
            }
            table.mod-info-table td:nth-child(2){
                padding: 0;
                vertical-align: top;
            }
            .req-th, .rec-th{
                background-color: #fdea;
                color: #f06;
                -webkit-text-stroke-color: #55001c45;;
            }
            .req-th:hover, .rec-th:hover{
                background-color: #0f9d;
            }
            body:has(.req-th:hover) .req-icon,
            body:has(.rec-th:hover) .rec-icon{
                background-color: #0f9d;
            }
            .mod-reqrec-container {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
            }
            .req-icon_o {
                filter: opacity(80%);
            }
            .rec-icon_o {
                margin-left: auto;
                filter: opacity(90%);
            }
            .rec-icon:hover, .req-icon:hover {
                background-color: #0f9d;
            }
            .rec-icon, .req-icon {
                width: 16px;
                height: 16px;
                display: grid;
                padding: 1px;
                background-color: #fdea;
            }
            .mod_version {
                text-align: left;
                margin: -0.225vw;
                font-size: 11px;
                color: #0f9c;
                text-shadow: 0 0 1.5px #fde;
                -webkit-text-stroke: 0.5px;
            }
            .mod_version_4 {
                text-align: left;
                margin: -0.225vw;
                font-size: 11px;
                color: #0f9c;
                text-shadow: 0 0 1.5px #fde;
                -webkit-text-stroke: 0.5px;
                position: relative;
                top: -7px;
            }
            tr:not(:is(:first-child, :nth-child(4), :nth-child(10), :nth-child(12), :nth-child(13), :nth-child(15), :nth-child(16), :nth-child(18), :nth-child(21), :nth-child(27), :nth-child(29), :nth-child(32), :nth-child(34), :nth-child(41), :nth-child(48), :nth-child(50), :nth-child(52), :nth-child(54), :nth-child(56), :nth-child(57), :nth-child(58), :nth-child(59))) td:is(:nth-child(5), :nth-child(6), :nth-child(8)),
            tr:is(:nth-child(12), :nth-child(21)) td:is(:nth-child(5), :nth-child(6), :nth-child(9)) {
                opacity: 72%;
                padding: 0.1rem 0.33rem !important;
                margin: 0 0 !important;
            }
            .mod_game_version_4{
                position: relative;
                top: 10px;
            }
            .mod_name {
                margin-left: auto;
                position: relative;
                top: 0;
            }
            .mod_name_0 {
                margin-left: auto;
                position: relative;
                top: 16px;
            }
            .mod_name_2 {
                margin-left: auto;
                position: relative;
                top: -18px;
            }
            .author-name {
                font-size: 15px;
            }
            .author-link:hover .author-icon {
                background-color: #0f9;
            }
            .social-icon {
                width: 16px;
            }
            #s-i_modrinth_o:hover #s-i_modrinth {
                fill: #0f9;
            }
            #s-i_curseforge {
                background-color: #fff;
            }
            #s-i_curseforge_o:hover > #s-i_curseforge {
                background-color: #0f9;
            }
            #s-i_github {
                filter: invert(1);
            }
            #s-i_github_o:hover > #s-i_github {
                filter: invert(50%) sepia(100%) saturate(200) hue-rotate(159deg) brightness(5);
            }
            .sizeSwitch {
               background-color: #f06;
               color: #fdea;
               text-shadow: 1px 1px #5027;
               font-size: 7px;
               padding: 1px;
               border-color: #fdea;
            }
            .sizeSwitch:hover {
	           background-color: #fdea;
	           text-shadow: 1px 1px #f069;
            }
            .sizeSwitch:active {
                background-color: #903a;
	            text-shadow: 1px 1px #fde3;
            }