#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



#root {
  --winered-dark3: #340017;
  --winered-dark0: #140007;
  --white: #fff;
  --pnku-pnk-f06: #f06;
  --pnku-pnk-f06-soft0: #fe0b68;
  --pnku-pnk-f06-soft5: #ea3a75;
  --pnku-pnk-hot: #f05;
  --pink-blue-light: #ff83c1;
}

.light-mode {
  --background: var(--pnku-pnk-f06);
  --text-color: var(--white);
  --border-color: var(--pink-blue-light);
}

.dark-mode {
  --background: var(--winered-dark3);
  --text-color: var(--pnku-pnk-hot);
  --border-color: var(--pnku-pnk-f06-soft5);
}

.table-row {
  border: 0.1vw solid var(--text-color);
  background: var(--background);
  display: flex;
  font-size: 1.5vw;
  border-radius: 0.25vw;
}

.table-cell {
  padding-right: 0.1vw;
  border: inherit;
  align-content: center;
}

.mod-icon-img {
  width: 5vw;
  height: 5vw;
  vertical-align: middle;
}

.mod-icon-cell {
  padding: 0.1vw;
  width: 6vw;
  height: 6vw;
}

.mod-name-cell {
  width: 25vw;
}

.version-cell1 {
  min-width: 5vw;
  width: 5vw;
  max-width: 5vw;
}

.version-cell2 {
  min-width: 10.225vw;
  width: 10.225vw;
  max-width: 10.225vw;
}